body {
    .container {
        margin: 2rem 0 3rem 0;
        min-height: 55vh;
        background-color: $dark;
        border-top: 4px solid $black;
        border-right: none;
        border-bottom: 4px solid $black;
        border-left: none;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .4);
        @include responsive('xs'){
            margin: 2rem 3rem 3rem 2rem;
            border-right: 12px solid $black;
            border-left: 12px solid $black;
        }

        .h2 {
            display: flex;
            margin: 0 0 1rem 0;
            padding: 1rem;
            background-color: $black_t;
            
            h2,
            p {
                display: inline;
                margin: 0 2px;
                font-size: 1rem;
                font-weight: normal;
            }
        }

        .content {
            padding: 0 1rem 1rem 1rem;
        }
    }
}