form {
    margin: 2rem 0;

    .form_row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        &.last {
            margin-bottom: 2rem;
        }

        label {
            order: 1;
            padding: 0.5rem 1rem;
            text-align: left;
            width: 60vw;
            color: $second;

            @include responsive('sm'){
                text-align: right;
                width: 25vw;
            }
        }

        input,
        textarea {
            order: 2;
            padding: 0.5rem 1rem;
            width: 100vw;
            border: 1px inset $second;
            background-color: $dark;
            color: $light;
            box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .4);
            
            &:focus {
                outline: 1px solid $second-visited;
            }
            
            &.area-contact {
                min-height: 50vh;
                min-width: 50vw;
            }
            
            @include responsive('sm'){
                width: 400px;
            }
        }

        & *[required] ~ label:after {
            content: " *";
            color: red;
        }
    }

    .form_row_centered {
        text-align: center;
    }
     
}