/* Where h* ?
 * h1 (_header.scss)
 * h2 (_content.scss)
 *
 * What is define in here ?
 * a ; button ; hr
 */

// Base Imports
@import "variables/fonts";
@import "variables/colors";
@import "helpers/mixins";

// Components
@import "header";
@import "content";
@import "footer";
@import "form";

// Basic Layout
html {
    font-size: 16px;
    font-family: $default-font;

    body {
        margin: 0;
        background-image: url("../img/CarbonTexturePattern.jpg");
        background-color: $dark;
        color: $light;

        a {
            color: $second;

            &:hover {
                color: $second-hover;
            }

            &:visited {
                color: $second-visited;

                &:hover {
                    color: $second-hover;
                }
            }

            &.a-nav{
                color: $prim;
                text-decoration: none;

                &:hover {
                    color: $prim-hover;
                }
            }

            &.a-gold{
                color: $tri;
                text-decoration: none;

                &:hover {
                    color: $tri-hover;
                }
            }
        }

        button,
        .button {
            padding: 10px 2rem;
            color: $second;
            background-color: $black_t;
            border-top: $second_visited solid 1px;
            border-left: $second_visited solid 1px;
            border-bottom: $second_hover solid 3px;
            border-right: $second_hover solid 3px;
            box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, .4);
            cursor: pointer;

            &:hover {
                background-color: $black;
            }

            &:active {
                background-color: $black_t;
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .4);
            }

            &:focus {
                outline: 1px solid $second-visited;
            }
        }

        hr {
            border: 1px solid $second;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);

            &.hr-top {
                margin-bottom: 1rem;
            }

            &.hr-mid {
                margin: 1rem 0;
            }

            &.hr-bottom {
                margin-top: 1rem;
            }
        }
    }
}