/* Where h* ?
h1 (_header.scss)
h2 (_content.scss) */

// Base Imports
@import "variables/fonts";
@import "variables/colors";
@import "helpers/mixins";

// Components
@import "header";
@import "content";
@import "footer";
@import "form";

// Basic Layout
html {
    font-size: 16px;
    font-family: $default-font;

    body {
        margin: 0;
        background-image: url("../img/CarbonTexturePattern.jpg");
        background-color: $dark;
        color: $light;

        a {
            color: $a;

            &:hover {
                color: $a-hover;
            }

            &:visited {
                color: $a-visited;

                &:hover {
                    color: $a-hover;
                }
            }

            &.a-nav{
                color: $a-nav;
                text-decoration: none;

                &:hover {
                    color: $a-nav-hover;
                }
            }

            &.a-gold{
                color: $a-gold;
                text-decoration: none;

                &:hover {
                    color: $a-gold-hover;
                }
            }
        }

        button {
            cursor: pointer;
        }
    }
}