$white: #ffffff;
$light: #f0f0f0;

$black: #000000;
$black_t: #0000009d;
$dark: #222222;

// Color <a> content
$a: #9acd32;
$a-hover: #83af2c;
$a-visited: #b9e267;

// Color <a> header/footer
$a-nav: #00dcff;
$a-nav-hover: #00b4cf;

// Color <a> .a-gold
$a-gold: #daab2a;
$a-gold-hover: #a87f27;